body{
    background-color: #292f46;
    font-family: sans-serif;
    color: aliceblue;
    
}
header{
    width: 950px;
}
h1,h2{
    margin: 0px 0px;
    font-size: 50px;  
}
h2{
    text-align: right;  
}

.scroll{
    width: fit-content;
    display: flex;

}
.colomn{
    background-color: transparent; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 700px;
}
.row{
    width: 310px;
    height: 200px;
    background-color: transparent;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cube{
    width: 150px;
    height: 150px;
    background-color: purple;
    margin-right: 5px;
    margin-left: 5px;
}
.bigcube{
    background-color: purple;
    width: 310px;
    height: 400px;
}
.main{
    background-color: purple;
}